<div class="forgetpasswordContainer">
        <div id="languageChanger">
        </div>
        <div class="panel panel-primary forgetPasswordEmailContainer">
                <div class="panel-heading">
                        <h2 id="forgetPasswordTitleId">Forget password</h2>
                </div>
                <div class="panel-body" id="emailBody">
                        <label for="" id="emailAddressAtForgetPassword">E-mail adres</label>
                        <input type="email" placeholder="email" class="form-control" id="email">
                        <br>
                        <span id="emailProcessInfo">
                                
                                Enter your email address above and click on confirm to set a new password.</span>
                        <p id="emailValidator"></p>
                </div>
                <div class="panel-footer input-group" id="actionButtons">
                        <button onClick="back()" class="btn-primary" id="backButtonAtForgetPassword">BACK</button>&nbsp;&nbsp;
                        <button onClick="bevestigen()" class="btn-primary" id="confirmAtForgetPassword">CONFIRM</button>
                </div>
                <div class="panel-footer input-group" id="backToHomePageAtForgetPasswordAfterSendingForgetPasswordRequest">
                                <button onClick="back()" id="backButtonAfterSendingRequest">BACK</button>&nbsp;&nbsp;
                </div>
                <p id="result"></p>
        </div>
      
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
        window.onload=function(){
                languageTigrinaAtForgetPasswordPage();
        }
        var language=JSON.parse(localStorage.getItem('selectedLanguage'))
     function languageTigrinaAtForgetPasswordPage(){
        if(JSON.parse(localStorage.getItem('selectedLanguage'))=='Tigrina'){
                language='Tigrina'
                document.getElementById('forgetPasswordTitleId').textContent='ቃለ ምስጢር ተረሲዑ'
                document.getElementById('email').placeholder='ኢመይል';
                document.getElementById('emailProcessInfo').innerHTML='<p>ኢመይልኩም ብምእታው ኣብ መወከሲ መልኮም ኣብዚ ታሕቲ ዘላ ጠቅቑ። <br> ብድሕሪኡ ናይ ቃላ ምስጢር መቀየሪ ናብ ኢመይልኩም ክስደደልኩም ኢዩ።<br>ኢመይልኩም ብምኽፋት ድማ ኣብቲ ዝስደድ ሊንክ ብምጥዋቕ ቃለምስጢርኩም ትቅይሩ።</p>';
                document.getElementById('backButtonAtForgetPassword').textContent='ንድሕሪት ዘምልስ';
                document.getElementById('menuHome').textContent='ስራሕ';
                document.getElementById('menuLogin').textContent='መእተዊ ገጽ';
                document.getElementById('menuRegister').textContent='መመዝገቢ';
                document.getElementById('menuForgetpassword').textContent='ቃለ ምስጢር ምስ ንርስዕ'
                document.getElementById('confirmAtForgetPassword').textContent='መቐየሪ ቃለምስጢር ክስደደለይ ይደሊ';
                document.getElementById('webTitle').textContent='ቤት ዕዮ'
        }else{
                language='English'
                document.getElementById('forgetPasswordTitleId').textContent='Forget password'
                document.getElementById('email').placeholder='Email';
                document.getElementById('menuHome').textContent='Home';
                document.getElementById('menuLogin').textContent='Login';
                document.getElementById('menuRegister').textContent='Register';
                document.getElementById('menuForgetpassword').textContent='Forget password'
                document.getElementById('emailProcessInfo').textContent=' Enter your email address above and click on confirm to set a new password.';
                document.getElementById('backButtonAtForgetPassword').textContent='BACK';
                document.getElementById('confirmAtForgetPassword').textContent='CONFIRM';
                document.getElementById('backToHomePageAtForgetPassword').textContent='BACK'
        }
     }
    document.getElementById('backToHomePageAtForgetPasswordAfterSendingForgetPasswordRequest').style.display='none'
    function back(){
            window.location.href='/'
    }
    function bevestigen(){
        var email=document.getElementById('email').value;
        if(email=='' || email==null || email.includes('@')==false){
                if(language=='Tigrina'){
                        emailValidator.innerHTML='ትኽክል ኢመይል የእትዉ መጀመርያ።'
                }else{
                        emailValidator.innerHTML='Enter correct email in'
                }
            
            emailValidator.style.color='red'
         }else{
            emailValidator.innerHTML=''
            axios.post('/forgetpassword',{
                    email:email,
                    language:language
            }).then(function(response){
                    if(response.data=='emailNotfound'){
                        var result=document.getElementById('result')
                        if(language=='Tigrina'){
                                result.innerHTML='<p id="emailNotFound">እዚ ኢመይል እዚ ቅድሚ ሒጂ ኣይተመዝገበን ዘሎ ምናልባት ኢመይል ተጋጊኹም ከይትህልዉ።</p>'
                        }else{
                                result.innerHTML='<p id="emailNotFound">This e-mail is not registered yet</p>'
                        }
                       
                        result.style.color='red'
                    }else{
                        document.getElementById('emailBody').style.display='none';
                        document.getElementById('actionButtons').style.display='none'
                        var result=document.getElementById('result')
                        document.getElementById('backButtonAfterSendingRequest').style.display='block'
                        if(language=='Tigrina'){
                                result.innerHTML='<p id="backToHomePageAtForgetPasswordAfterSendingForgetPasswordRequest">ኢመይልኩም ክፈትዎ።ኣብ ኢመይልኩም መቀየሪ ቃለ ምስጢር ተሰዲዱ ኣሎ።</p><br><button class="btn-primary" onClick="back()">ንድሕሪት ዘምልስ</button>'
                        }else{
                                result.innerHTML='<p id="backToHomePageAtForgetPasswordAfterSendingForgetPasswordRequest">Check your e-mail.You will receive a link to set a new password.</p><br><button class="btn-primary" onClick="back()">Back</button>'
                        }
                       
                        // result.style.color='green'
                        result.style.marginLeft='20px';
                        result.style.marginRight='20px'
                        result.style.marginTop='20px';
                        result.style.marginBottom='20px';
                        document.getElementById('terug').style.display='block';
                    }
                 
            })
         } 

    }
</script>