<div id="languageChanger">
</div>
<%- include('jobSearch') %>    
<script>
    var language=JSON.parse(localStorage.getItem('selectedLanguage'))
    function languageTigrinaAtHomePage(){
        language=JSON.parse(localStorage.getItem('selectedLanguage'))
        if(language=='Tigrina'){
                document.getElementById("professionsId").placeholder="ሞያ"
                document.getElementById('locations').placeholder='ቦታ'
                document.getElementById('menuJob').textContent='ስራሕ';
                document.getElementById('menuJobRegister').textContent='ምዝገባ ስራሕ';
                document.getElementById('logoutId').textContent='መውጽኢ'
                document.getElementById('jobsForId').textContent='ስራሕ ን'
                document.getElementById('inId').textContent='ኣብ'
                document.getElementById('searchJobAtHomePageId').textContent='ድለ'
                document.getElementById('menuSettings').textContent='መርኣዪ ሓበሬታ ናይ ኣካውንትና'
                // document.getElementById('settingsId').textContent='መርኣዪ ሓበሬታ ናይ ኣካውንትና'
                document.getElementById('webTitle').textContent='ቤት ዕዮ'
                
                
                document.getElementById('chooseProfession').textContent='ሞያኹም ኣብዚ ታሕቲ ብምጽሓፍ ካብቶም ዝርዝራት ን ሞያኹም ዝውክሉ ምረጹ'
                document.getElementById('writeShortDescription').textContent='ብዛዕባኹም ሓጺር መግለጺ ጸሓፉ'
                document.getElementById('editProfessionIdbtn').textContent='ሞያ ቀይር'
                document.getElementById('editDescriptionIdbtn').textContent='መግለጺ ጸሓፍ ወይ ኣማሓዪሽ'
                document.getElementById('saveProfessionIdbtn').textContent='ዓቅብ'
                document.getElementById('updateDescriptionIdbtn').textContent='ዓቅብ'
                document.getElementById('applyForAjobBtnId').textContent='htet'
                
                
        }else{
            document.getElementById("professionsId").placeholder="Professionals"
            document.getElementById('locations').placeholder='Location';
            document.getElementById('menuJob').textContent='Job';
            document.getElementById('menuJobRegister').textContent='Job register for employers';
            document.getElementById('logoutId').textContent='Logout'
            document.getElementById('jobsForId').textContent='Jobs for'
            document.getElementById('inId').textContent='In'
            document.getElementById('searchJobAtHomePageId').textContent='Search'
            document.getElementById('menuSettings').textContent='Settings'
            // document.getElementById('settingsId').textContent='Settings'
            document.getElementById('editProfessionIdbtn').textContent='Edit Profession'
            document.getElementById('editDescriptionIdbtn').textContent='Edit Description'
            document.getElementById('chooseProfession').textContent='Choose your profession'
            document.getElementById('writeShortDescription').textContent='Write/update description about you'
            document.getElementById('saveProfessionIdbtn').textContent='Update'
            
        }
    }
    window.onload=function(){
        languageTigrinaAtHomePage()
    }
</script>
