.inputsInAdminPage{
    margin-left:50px;
    margin-right:20px;
}
.datatable{
    margin-left:50px;
    margin-right:20px; 
}
#wordTranslationTab{
    margin-left: 20px;
}
input {
    width: 30%;
    min-width: 200px;
  }