.forgetpasswordContainer{
 display: flex;
 flex-direction: column;
 margin-left:10px;
 margin-right:10px;
 justify-content: center;
 align-items: center;
 font-size:16px;
 width: 100%;
}
.forgetpasswordContainer input{
    padding: 20px;
    font-size:16px;
}