
.mainContainer{
  display: flex;
  flex-direction: column;
}
.container2{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: flex-start;
}
.container2LeftSide{
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  width: 40%;
  font-size:16px;
}

@media(max-width:476px){
  .container2{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-start;
  }
  .container2LeftSide{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom: 20px;
    width: 100%;
    order: 2 !important;
  }
  .loginContainer{
    display: flex;
    box-sizing: border-box;
    margin-top:20px;
    margin-right:10px;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    order: 1 !important;
 }
  .loginBox{
    text-align: center;
    border: solid 3px rgb(60, 150, 235);
    background-color:whitesmoke;
    font-weight: bold;
    margin-left:10px;
    margin-right: 10px;
    width: 100% !important;
  }
  .loginButtonContainer button{
    margin-left:5px;
   }
} 
  .loginContainer{
     display: flex;
     box-sizing: border-box;
     margin-top:20px;
     margin-left: 10px;
     margin-right:20px;
     justify-content: flex-start;
     align-items:flex-start;
     flex-direction: column;
     font-size: 16px;
     order: 2;
     width:80%;
  }
  .loginBox{
    display: flex;
    border: solid 3px rgb(60, 150, 235);
    background-color:whitesmoke;
    font-weight: bold;
    flex: 1;
    order: 2;
  }
  .divLoginText{
      flex: 1;
      order: 1;
      margin-right:20px;
      margin-left:20px;
  }
  .loginUserInputText{
    margin-left:10px;
    margin-right:10px;
    font-size: 16px;
  }
  .loginUserInputText label{
    margin-left:25px;
    background-color: white;
    font-size:12px;
  }
  .username{
    padding: 3px;
      display: flex;
      flex: 1;
    align-items: flex-start;
    justify-content:flex-start;
    text-align: start;
  }
  .usernameTextBox{
    width: 90% !important;
  }
  .password{
      /* padding: 5px; */
      display: flex;
      flex: 2;
    align-items: flex-start;
    justify-content:flex-start;
    text-align: start;
    
  }
  .passwordTextBox{
      width: 90% !important;
  }
  .loginButtonContainer{
      margin-left:10px;
      margin-right: 10px;
  }
  .loginButtonContainer button{
    margin-left:20px;
    margin-right: 10px;
    margin-top:10px;
    font-size: 14px;
   }

  